/* ContactUs.module.css */

.container {
    text-align: center;
    padding: 2rem 1rem;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(11, 17, 32);
}

.heading {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 0.5rem;
}

.subheading {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #c10644;
}

.paragraph {
    font-size: 1rem;
    color: #777;
    margin-bottom: 1.5rem;
}

.button {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    border: 1px solid #c10644;
    color: #c10644;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
    color: #fff;
}

@media (max-width: 768px) {
    .container {
        padding: 1.5rem 1rem;
    }

    .heading {
        font-size: 2rem;
    }

    .subheading {
        font-size: 1.25rem;
    }

    .paragraph {
        font-size: 0.875rem;
    }

    .button {
        padding: 0.5rem 1rem;
        font-size: 0.875rem;
    }
}

@media (min-width: 1200px) {
    .heading {
        font-size: 3rem;
    }

    .subheading {
        font-size: 1.5rem;
    }

    .paragraph {
        font-size: 1.25rem;
    }
}
