.arrowContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 50px;
    right: 30px;
    transition: opacity 0.3s ease, transform 0.3s ease; /* Add transitions for opacity and transform */
    opacity: 0; /* Initially hidden */
    transform: translateY(20px); /* Start slightly lower */
}

.arrowContainer.show {
    opacity: 1; /* Show the arrow */
    transform: translateY(0); /* Move to its original position */
}

.icon {
    font-size: 50px !important;
    border-radius: 50%;
    background-color: #ff014f;
    cursor: pointer;
    color: #ffff;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.icon:hover {
    transform: scale(1.2);
    background-color: #ff014f;
    color: #ffff;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}
