.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #000000;
    color: #ffff;
    position: relative; 
  }
  
 
  .aa{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  
  .navbarMenu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbarMenu>li {
    margin-right: 1rem;
  }
  
  .navbarMenu>li>a {
    color: #ffff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    position: relative; 
  }
  
  .navbarMenu>li>a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: transparent; 
    transition: background-color 0.3s ease-in-out; 
  }
  
  .navbarMenu>li>a:hover::after {
    background-color: #007bff; 

}
  .navbarToggle {
    display: none;
    cursor: pointer;
  }
  
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    transition: transform 0.3s ease-in-out; 

  }
  
  .hamburger>span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333;
    transition: transform 0.3s ease-in-out;
  }
  .hamburger.active span:nth-child(1) {
    transform: translateY(10px) rotate(45deg); 
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0; 
  }
  
  .hamburger.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg); 
  }
  @media (max-width: 768px) {
    .navbarMenu {
      display: none;
      flex-direction: column;
      background-color: #ffff;
      position: absolute;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
      top: 64px;
      left: 0%; 
      width: 30%; 
      z-index: 10;
      justify-content: flex-end;
      gap: 30px;
      padding: 20px 0px;
      border-radius: 4px;
    }
  
    .navbarMenu.active {
      display: flex;
    }
  
    .navbarToggle {
      display: block;
    }
  }