.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #ffff;
    color: #333;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
    position: relative; /* Added for mobile responsiveness */
  }
  
  .navbarLogo {
    font-size: 1.5rem;
  }
  
  .navbarMenu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbarMenu li {
    margin-right: 1rem;
  }
  
  .navbarMenu a {
    color: #333;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  .navbarToggle {
    display: none;
    cursor: pointer;
  }
  
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    transition: transform 0.3s ease-in-out; /* Added transition for smooth animation */

  }
  
  .hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333;
    transition: transform 0.3s ease-in-out;
  }
  .hamburger.active span:nth-child(1) {
    transform: translateY(10px) rotate(45deg); /* Adjusted for the hamburger icon animation */
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0; /* Fades out the middle line when menu is active */
  }
  
  .hamburger.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg); /* Adjusted for the hamburger icon animation */
  }
  @media (max-width: 768px) {
    .navbarMenu {
      display: none;
      flex-direction: column;
      background-color: #ffff;
      position: absolute;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
      top: 70px;
      left: 80%; 
      width: 100%; 
      z-index: 10;
      justify-content: flex-end;
    }
  
    .navbarMenu.active {
      display: flex;
    }
  
    .navbarToggle {
      display: block;
    }
  }