.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 5rem;
    background-color: rgb(11, 17, 32);
    box-shadow:
        rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
        rgba(0, 0, 0, 0.14) 0px 4px 5px 0px,
        #3c475c 0px 1px 10px 0px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.navbarLogo {
display: flex;
justify-content: center;
align-items: center;
}
.navbarLogo>img{
    width: 100%;
    height: 90px;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
}

.navbarMenu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    transition: opacity 0.3s ease, transform 0.3s ease; 
}

.navbarMenu li {
    margin-right: 1rem;
}

.navbarMenu > li > a:hover {
    color: #ff014f;
}

.navbarMenu > li > a:active {
    color: red;
}

.navbarMenu a {
    color: #6f777e;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.navbarMenu a.active {
    color: red; 
}

.navbarToggle {
    display: none;
    cursor: pointer;
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    transition: transform 0.3s ease-in-out;
}

.hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ff014f;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; 
}

.hamburger.active span:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0; 
}

.hamburger.active span:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}

@media (max-width: 768px) {
    .navbar {
        padding: 0 20px;
    }

    .navbarMenu {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: #ffff;
        position: absolute;
        top: 70px;
        right: 0;
        width: 50%;
        height: 0;
        overflow: hidden;
        z-index: 10;
        opacity: 0;
        transform: translateY(-20px);
        border-radius: 10px;
        padding: 20px;
        font-size: 20px;
    }

    .navbarMenu.active {
        height: calc(45vh - 70px);
        opacity: 1;
        transform: translateY(0);
    }

    .navbarToggle {
        display: block;
    }
}
